extends layout.pug

block title
    title About — OIOI Jewellery

block meta_description
    meta(name='description', content='About OIOI Jewellery — Florence-born artisanal jewellery.')

block canonical
    link(rel='canonical', href='https://oioijewellery.it/about.html')

block content
    // Masthead
    header.masthead(style='padding-bottom: 1rem;')
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.align-items-center.justify-content-center.text-center
                .col-lg-8.align-self-end
                    img.mb-4.masthead-logotype(src='assets/img/logos/oioi_logotype_black.svg', alt='OIOI')
                    .d-flex.justify-content-center.align-items-center.mb-3
                        span.decorative-icon.me-2 🜃✴︎
                        h1.my-0(style='font-size: 1.4rem;') About
                        span.decorative-icon.ms-2 ✴︎🜃
                    hr.divider

    // Image Placeholder
    section.page-section(style='padding-top: 1rem; padding-bottom: 1rem;')
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .col-lg-10
                    img.img-fluid.w-100(src='assets/img/about/temporay_about_photo.jpg', alt='OIOI Jewellery', loading='lazy')

    // Content
    section.page-section(style='padding-top: 2rem; padding-bottom: 2rem;')
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .col-lg-10
                    .mb-5
                        h2.mb-4 INTRO
                        p OIOI è gioielleria artigianale realizzata a Firenze.
                        p Pezzi costruiti con tecniche tradizionali, leghe selezionate, smalti preziosi e pietre scelte con cura.
                        p Creazioni che vivono fuori scala, fuori algoritmo, fuori tendenza.
                        p Forme chiare, simboli, proporzioni pensate e dettagli che a volte spostano l’equilibrio, a volte lo rimettono in asse.
                        p.mt-4 Fatti a mano, pensati per chi sente.

                    .mb-5
                        h2.mb-4 LA PORTA
                        p Il simbolo di OIOI si ispira all’antico stemma delle Arti Maggiori.
                        p La porta dell’Arte di Por Santa Maria, sotto cui lavoravano anche gli orafi, è il mio riferimento.
                        p I battenti sono una O e una I che si intersecano, ripetendosi come un ritmo, un mantra, un codice.
                        p È la soglia tra ciò che raccolgo e ciò che costruisco.
                        p Tiene insieme passato e presente, mestiere e visione, tecnica e libertà creativa.
                        p La porta è il mio modo di dire: entra, c’è un mondo dentro.

                    .mb-5
                        h2.mb-4 IL METODO
                        p Disegno, studio proporzioni, volumi e architetture.
                        p Al banco la forma prende corpo: lastra di metallo, cera, lime, saldature, incastri, superfici da portare a punto, soluzioni da trovare.
                        p Lavoro con tecniche artigianali come la cera persa e la lavorazione della lastra, con l’incastonatura quando il progetto lo richiede.
                        p Il mio approccio nasce dall’intreccio tra materiali, simboli, immagini, architetture e memoria.
                        p Il processo unisce precisione, sensibilità e quell’occhio che riconosce quando una forma “funziona”: equilibrio, intensità, carattere.
                        p Ogni pezzo è un ecosistema calibrato.

                    .mb-5
                        h2.mb-4 ESTETICA
                        p OIOI è Firenze filtrata da uno sguardo che si è formato altrove.
                        p Cinema, architettura, arte, musica, immaginari complessi: tutto diventa grammatica visiva. Segni netti, contrasti, proporzioni.
                        p Un’estetica essenziale, simbolica, precisa.
                        p Con memoria, ma senza maniera.

                    .mb-5
                        h2.mb-4 ATTITUDINE
                        p OIOI parla con una voce fiorentina, asciutta, ironica, affilata.
                        p Quel vecchio lamento che non è mai vittimismo, ma sguardo critico.
                        p Dire le cose come stanno, senza fronzoli, senza compiacere, con un sorriso di lato e una battuta che alleggerisce mentre punge.
                        p È una lingua che nasce in bottega e finisce nella forma.
                        p Rigorosa ma mai rigida, intelligente ma mai snob, libera ma mai leziosa.
                        p È la lente con cui OIOI guarda tutto: proporzioni, simboli, scarti, intuizioni.
                        p OIOI è anche questo: fieramente fiorentino, elegantemente insofferente.

                    .mb-5
                        h2.mb-4 PER CHI È
                        p OIOI non ha genere.
                        p È per chi riconosce un segno, una vibrazione, un equilibrio interno.
                        p È per chi cerca presenza, non consenso.

                    .mb-5
                        h2.mb-4 CHI LA FA
                        p Sono Gaia Cionnini.
                        p Nata ad Arezzo, Città dell’Oro, un luogo dove la tradizione orafa non è un mestiere: è aria, infanzia, cultura condivisa.
                        p Sono cresciuta tra banchi da lavoro, strumenti, gesti antichi.
                        p La mia traiettoria attraversa Arezzo, Firenze e Londra: studi tra cinema, scenografia e arti visive, e molti anni nel marketing creativo.
                        p Strati che hanno modellato il mio sguardo.
                        p Al banco queste vite si incontrano con la mia manualità, un’intelligenza artigianale fatta di gesto, occhio e cultura visiva.
                        p È lì che OIOI smette di essere un lamento.

                    .mb-5
                        p.mt-4 🜃

    // Contact
    section#contact.page-section(style='padding-top: 2rem; padding-bottom: 2rem;')
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .col-lg-8.col-xl-6.text-center
                    h2.mt-0.font-calligraphy Ti aprirò la porta, e da li potremo cominciare a creare insieme
                    p Se qualcosa ti ha incuriosito, scrivimi per parlarne
                    hr.divider
            .row.gx-4.gx-lg-5.justify-content-center.mb-5
                .col-lg-6

                    // Netlify Forms
                    form#contactForm(name='contact', method='POST', data-netlify='true', netlify-honeypot='bot-field', action='/success.html')

                        // Netlify Forms hidden fields
                        input(type='hidden', name='form-name', value='contact')
                        // Honeypot field
                        input(type='text', name='bot-field', class='d-none')

                        // Name input
                        .form-floating.mb-3
                            input#name.form-control(
                                type='text',
                                name='name',
                                placeholder='Enter your name...',
                                required
                            )
                            label(for='name') Full name
                            .invalid-feedback(data-sb-feedback='name:required')
                                | A name is required.

                        // Email address input
                        .form-floating.mb-3
                            input#email.form-control(
                                type='email',
                                name='email',
                                placeholder='name@example.com',
                                required
                            )
                            label(for='email') Email address
                            .invalid-feedback(data-sb-feedback='email:required')
                                | An email is required.
                            .invalid-feedback(data-sb-feedback='email:email')
                                | Email is not valid.

                        // Phone number input
                        .form-floating.mb-3
                            input#phone.form-control(
                                type='tel',
                                name='phone',
                                placeholder='(123) 456-7890'
                            )
                            label(for='phone') Phone number

                        // Message input
                        .form-floating.mb-3
                            textarea#message.form-control(
                                type='text',
                                name='message',
                                placeholder='Enter your message here...',
                                style='height: 10rem;',
                                required
                            )
                            label(for='message') Message
                            .invalid-feedback(data-sb-feedback='message:required')
                                | A message is required.

                        // Submit Button
                        .d-grid
                            button#submitButton.btn-reset(type='submit')
                                +svg-entra-in-contatto('Entra in contatto', '180px')
