doctype html
html(lang='it')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Bespoke Collection — OIOI Jewellery')
        meta(name='author', content='OIOI Jewellery')

        title Bespoke — OIOI Jewellery

        // Favicon
        link(rel='icon', type='image/svg+xml', href='assets/favicon.svg')
        link(rel='alternate icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap Icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@400;500;700&display=swap', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='index.html')
                    img(src='assets/img/logos/oioi_black.svg', alt='OIOI Jewellery Logo', style='height: 90px;')
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='about.html') About
                        li.nav-item
                            a.nav-link(href='index.html#portfolio') Collezioni
                        li.nav-item
                            a.nav-link(href='index.html#contact') Enquiry
                        li.nav-item
                            a.nav-link(href='https://www.instagram.com/oioijewellery/' target='_blank' rel='noopener') Social

        // Masthead
        header.masthead
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        img.mb-4.masthead-logotype(src='assets/img/logos/oioi_logotype_black.svg', alt='OIOI')
                        .d-flex.justify-content-center.align-items-center.mb-3
                            span.decorative-icon.me-4 🜃✴︎
                            h1.font-calligraphy.my-0 Bespoke
                            span.decorative-icon.ms-4 ✴︎🜃
                        hr.divider
                        .text-center.mt-5.mb-5
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

        // Collection Carousel
        section.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-10
                        #bespokeCarousel.carousel.slide(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                    img.d-block.w-100(src='assets/img/portfolio/fullsize/1.jpg', alt='Bespoke Collection Image 1')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/portfolio/fullsize/6.jpg', alt='Bespoke Collection Image 2')
                            button.carousel-control-prev(type='button', data-bs-target='#bespokeCarousel', data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(type='button', data-bs-target='#bespokeCarousel', data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next

        // Contact
        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.col-xl-6.text-center
                        h2.mt-0.font-calligraphy Ti aprirò la porta, e da li potremo cominciare a creare insieme
                        p Se qualcosa ti ha incuriosito, scrivimi per parlarne
                        hr.divider
                .row.gx-4.gx-lg-5.justify-content-center.mb-5
                    .col-lg-6

                        // Netlify Forms
                        form#contactForm(name='contact-bespoke', method='POST', data-netlify='true', netlify-honeypot='bot-field', action='/success.html')

                            // Netlify Forms hidden fields
                            input(type='hidden', name='form-name', value='contact-bespoke')
                            input(type='hidden', name='collection', value='Bespoke')
                            // Honeypot field
                            input(type='text', name='bot-field', class='d-none')

                            // Name input
                            .form-floating.mb-3
                                input#name.form-control(
                                    type='text',
                                    name='name',
                                    placeholder='Enter your name...',
                                    required
                                )
                                label(for='name') Full name
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.

                            // Email address input
                            .form-floating.mb-3
                                input#email.form-control(
                                    type='email',
                                    name='email',
                                    placeholder='name@example.com',
                                    required
                                )
                                label(for='email') Email address
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.

                            // Phone number input
                            .form-floating.mb-3
                                input#phone.form-control(
                                    type='tel',
                                    name='phone',
                                    placeholder='(123) 456-7890'
                                )
                                label(for='phone') Phone number

                            // Message input
                            .form-floating.mb-3
                                textarea#message.form-control(
                                    type='text',
                                    name='message',
                                    placeholder='Enter your message here...',
                                    style='height: 10rem;',
                                    required
                                )
                                label(for='message') Message
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                            // Submit Button
                            .d-grid
                                button#submitButton.btn-reset(type='submit')
                                    img(src='assets/img/buttons/Entra_In_Contatto.svg', alt='Entra in contatto')

        // Footer
        footer.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | © 2025 - OIOI Jewellery · Florence || Handcrafted in Santo Spirito
                    br
                    | Gaia Cionnini - P.IVA 07327210485 · C.F. CNNGAI82D61A390A · 
                    a(href='https://www.instagram.com/oioijewellery/' target='_blank' rel='noopener') Instagram

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

