extends layout.pug

block title
    title= t('cookie_policy.title')

block meta_description
    meta(name='description', content=t('cookie_policy.meta_description'))

block content
    // Masthead
    header.masthead(style='padding-bottom: 1rem;')
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.align-items-center.justify-content-center.text-center
                .col-lg-8.align-self-end
                    img.mb-4.masthead-logotype(src=basePath + 'assets/img/logos/oioi_logotype_black.svg', alt='OIOI')
                    .d-flex.justify-content-center.align-items-center.mb-3
                        span.decorative-icon.me-2 🜃✴︎
                        h1.my-0(style='font-size: 1.4rem;')= t('cookie_policy.heading')
                        span.decorative-icon.ms-2 ✴︎🜃
                    hr.divider
    
    // Cookie Policy Content
    section.page-section(style='padding-top: 2rem;')
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .col-lg-8
                    .mb-4
                        p.text-muted= t('cookie_policy.last_updated')
                    
                    .mb-5
                        h2.mb-3= t('cookie_policy.what_is.title')
                        p= t('cookie_policy.what_is.text')
                    
                    .mb-5
                        h2.mb-3= t('cookie_policy.how_we_use.title')
                        p= t('cookie_policy.how_we_use.intro')
                        ul
                            each item in i18n.cookie_policy.how_we_use.items
                                li= item
                        
                        p= t('cookie_policy.how_we_use.closing')
                    
                    .mb-5
                        h2.mb-3= t('cookie_policy.types.title')
                        
                        h3.mb-3.mt-4= t('cookie_policy.types.technical.title')
                        p= t('cookie_policy.types.technical.text')
                        
                        h3.mb-3= t('cookie_policy.types.analytics.title')
                        p= t('cookie_policy.types.analytics.intro')
                        ul
                            each item in i18n.cookie_policy.types.analytics.items
                                li= item
                        
                        p= t('cookie_policy.types.analytics.closing')

                        h3.mb-3= t('cookie_policy.types.marketing.title')
                        p= t('cookie_policy.types.marketing.intro')
                        ul
                            each item in i18n.cookie_policy.types.marketing.items
                                li= item
                        
                        p= t('cookie_policy.types.marketing.closing')
                    
                    .mb-5
                        h2.mb-3= t('cookie_policy.management.title')
                        each para in i18n.cookie_policy.management.paragraphs
                            p= para
                    
                    .mb-5
                        h2.mb-3= t('cookie_policy.third_party.title')
                        p= t('cookie_policy.third_party.intro')
                        ul
                            li 
                                strong Google Analytics 4 (GA4)
                                | : 
                                = t('cookie_policy.third_party.ga4')
                                a(href='https://policies.google.com/privacy', target='_blank', rel='noopener')= t('cookie_policy.third_party.ga4_link')
                            li 
                                strong Google Tag Manager
                                | : 
                                = t('cookie_policy.third_party.gtm')
                            li 
                                strong Google Ads
                                | : 
                                = t('cookie_policy.third_party.gads')
                                a(href='https://policies.google.com/privacy', target='_blank', rel='noopener')= t('cookie_policy.third_party.gads_link')
                        
                        p= t('cookie_policy.third_party.closing')
                    
                    .mb-5
                        h2.mb-3= t('cookie_policy.duration.title')
                        p= t('cookie_policy.duration.intro')
                        ul
                            each item in i18n.cookie_policy.duration.items
                                li= item
                    
                    .mb-5
                        h2.mb-3= t('cookie_policy.rights.title')
                        p= t('cookie_policy.rights.intro')
                        ul
                            each item in i18n.cookie_policy.rights.items
                                li= item
                    
                    .mb-5
                        h2.mb-3= t('cookie_policy.contact.title')
                        p
                            = t('cookie_policy.contact.text')
                            a(href='index.html#contact')= t('cookie_policy.contact.link_text')
                            = t('cookie_policy.contact.text_after')
                    
                    .text-center.mt-5
                        h3.mb-4= t('cookie_policy.preferences.title')
                        
                        form#cookiePreferencesForm.text-start.d-inline-block.mx-auto.mb-4(style='max-width: 500px; width: 100%;')
                            // Technical Cookies
                            .form-check.form-switch.mb-3
                                input#consentTechnical.form-check-input(type='checkbox', checked, disabled)
                                label.form-check-label(for='consentTechnical')
                                    strong= t('cookie_policy.preferences.technical_label')
                                    br
                                    small.text-muted= t('cookie_policy.preferences.technical_desc')
                            
                            // Analytics Cookies
                            .form-check.form-switch.mb-3
                                input#consentAnalytics.form-check-input(type='checkbox')
                                label.form-check-label(for='consentAnalytics')
                                    strong= t('cookie_policy.preferences.analytics_label')
                                    br
                                    small.text-muted= t('cookie_policy.preferences.analytics_desc')
                            
                            // Advertising Cookies
                            .form-check.form-switch.mb-4
                                input#consentMarketing.form-check-input(type='checkbox')
                                label.form-check-label(for='consentMarketing')
                                    strong= t('cookie_policy.preferences.marketing_label')
                                    br
                                    small.text-muted= t('cookie_policy.preferences.marketing_desc')

                            .d-grid.gap-2.d-md-block.text-center
                                button#savePreferencesBtn.btn.btn-primary.me-md-2(type='button', onclick='window.handleSavePreferences()')= t('cookie_policy.preferences.save')
                                button.btn.btn-outline-secondary(type='button', onclick='window.handleAccept()')= t('cookie_policy.preferences.accept_all')

                        br
                        a.btn.btn-link.mt-3(href='index.html')= t('cookie_policy.preferences.back_home')

